<% raise "Journal Entry is nil:" if journal_entry.nil? %>

<div class="journal-entry">
  <!-- Title and not clickable for not JE owners-->
  <h4> 
    <% if journal_entry.user == Current.user %>
      <%= link_to journal_entry.title,
          trip_journal_entry_path(journal_entry.trip, journal_entry),
          class: "entry-link" %>
    <% else %>
      <%= journal_entry.title %>   <!-- Non-clickable for other users -->
    <% end %>
  </h4>


  <!-- Content -->
  <p><%= journal_entry.content %></p>

  <!-- Images -->
  <% if journal_entry.media.attached? %>
    <div class="journal-entry-images">
      <% journal_entry.media.each do |file| %>
        <%= image_tag file, class: "img-fluid rounded mb-2" %>
      <% end %>
    </div>
  <% end %>

  <!-- Date info -->
  <p class="journal-entry-date">
    <em>Went at <%= journal_entry.date.strftime("%B %d, %Y") %></em>
  </p>

  <p class="text-muted small">
    Posted by <%= journal_entry.user.name %> on
    <%= journal_entry.created_at.strftime("%B %d, %Y") %>
  </p>


  <div class="d-flex align-items-center gap-2 mb-2">

    <% if journal_entry.reactions.exists?(user: Current.user) %>
      <!-- Already reacted -->
      <%= button_to trip_journal_entry_unreact_path(journal_entry.trip, journal_entry),
          method: :delete,
          class: "btn btn-link p-0 text-danger fs-4" do %>
        ❤️
      <% end %>
    <% else %>
      <!-- Not reacted yet -->
      <%= button_to trip_journal_entry_react_path(journal_entry.trip, journal_entry),
          method: :post,
          class: "btn btn-link p-0 fs-4" do %>
        🤍
      <% end %>
    <% end %>

    <span class="text-muted">
      <%= pluralize(journal_entry.reactions.count, "reaction") %>
    </span>
  </div>


  <hr>
</div>
