<%# Loop through each trip and display its details %>

<div id="<%dom_id(trip)%>" class="trip">
    <p><strong>Title:</strong> <%= trip.title %></p>
    <p><strong>Destination:</strong> <%= link_to trip.destination, trip_path(trip) %></p>
    <p><strong>Start Date:</strong> <%= trip.start_date.strftime("%B %d, %Y") %></p>
    <p><strong>End Date:</strong> <%= trip.end_date.strftime("%B %d, %Y") %></p>
    <p><strong>Description:</strong> <%= trip.description %></p>
    <% if trip.media.attached? %>
      <div class="media">
        <% trip.media.each do |media_item| %>
          <%= image_tag media_item, class: "img-fluid" %>
        <% end %>
      </div>
    <% end %>
    <hr>
  </div>